*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Satisfy', cursive;
}
a{
    text-decoration:none; 
}
ol, ul{
    list-style:none; 
}
.wrapper{
    width: 1140px; 
    margin: 0 auto; 
}
/* ========== common css ends here ==========*/
.header_area{
    width: 100%;
    height: 100px;
    background-color: #6648B0;
}
.header_area .header{

    height: 100px;
    display:flex; 
}
.header_area .header .logo{
    width: 240px;
    height: 100px;
}
.header_area .header .logo h1{
    
}
.header_area .header .logo a{
    font-size: 50px; 
    color: #ffffff; 
    line-height: 100px; 
}
.header_area .header .menu{
    width: 900px;
    height: 100px;
    
}
.header_area .header .menu ul{
    display: flex; 
    justify-content: flex-end; 
}
.header_area .header .menu ul li{

}
.header_area .header .menu ul li a{
    padding: 10px; 
    color:#ffffff; 
    line-height: 100px; 
    font-size: 15px; 
    text-transform: uppercase; 
}
.header_area .header .menu ul li a.active{
    background-color: #353058;
    color:#ffffff; 
}
.header_area .header .menu ul li a:hover{
    background-color: #353058;
    color:#ffffff; 
    transition: all linear 0.3s; 
}
/* ========== header_area ends here ==========*/
.banner_area{
    width: 100%;
    height: 800px;
    background-color: darkgray; 
    background-image: url(../images/banner_1_1.png); 
    background-size:cover;
    background-position: center; 
}
.banner_area .overlay{
    background-color: rgba(10, 9, 9, 0.55)
        ; 
}
.banner{
    height: 800px; 
}
.banner h2{
    font-size: 70px; 
    color:white; 
    text-align: center;
    padding-top: 100px; 
    padding-bottom: 50px;
}
.banner h3{
    font-size: 30px; 
    color:#eeeeee; 
    text-align: center; 
    padding-bottom: 50px;
}
.banner p{
    font-size: 20px; 
    color:white; 
    text-align: center;
    padding-bottom: 100px;
}
.banner h4{
    text-align: center; 
}
.banner h4 a{
    text-align: center; 
    padding: 10px 15px; 
    background-color: #6648AF;
    color: white; 
    border-radius: 8px; 
}
.banner a:hover{
    background-color: #353058;
    color:white; 
    transition: all linear 0.3s; 
}
.banner h5{
    text-align: center;
    padding-top: 80px; 
}
.banner h5 a{
    color:white; 
    font-size: 20px;
    
}
/* ========== banner_area ends here ==========*/

